body{
  background-image: linear-gradient(90deg, #020024 0%, rgba(27, 38, 110, 0.466) 0%, rgba(25, 217, 255, 0.377) 77%), url(../assets/wall.jpg);
}

.inputt{
  border-radius: 5px;
}

@media screen and (max-width: 768px) {

.inputt{
  max-width: 50%;
}

label{
  font-size: 1rem;
}
}